@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Geist:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@custom-variant dark (&:is(.dark *));

html,
body {
  margin: 0;
  padding: 0;
  color: #f5f5f5;
  background: #050505;
  font-family:  "Geist", ui-sans-serif, system-ui, sans-serif;
}

html:not(.dark) {
  color-scheme: light;
}

html:not(.dark),
html:not(.dark) body {
  background: #f5f5f5;
  color: #111111;
}

main {
  min-height: 100vh;
}

h1 {
  font-size: xx-large;
  line-height: 0.85;
  letter-spacing: -0.02em;
  font-weight: 700;
}

h2 {
  font-size: large;
  opacity: 0.8;
}

button,
input,
textarea,
select {
  font: inherit;
}

.primary-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  background: #f5f5f5;
  color: #050505;
  padding: 0.2rem 0.75rem;
  @apply rounded-2xl transition-colors duration-200;
}

.auth-button {
  @apply primary-gradient rounded-full py-4 px-8 cursor-pointer w-[600px] max-md:w-full text-3xl font-semibold text-white
}

.back-button {
  @apply flex flex-row items-center gap-2 border border-white/10 rounded-lg p-2 shadow-sm bg-neutral-950 text-white
}

.primary-button:hover {
  background: #d4d4d4;
}

.main-section {
  @apply flex flex-col items-center gap-8 pt-12 mx-15 pb-5;
}

.resume-card {
  @apply flex flex-col 
  gap-8 
  w-full  
  lg:w-[450px] xl:w-[490px] 
  bg-neutral-950 
  border border-white/10
  rounded-2xl 
  p-5 
  shadow-[0_20px_60px_rgba(0,0,0,0.35)]
  transition-shadow duration-300
  hover:border-white/25
  hover:shadow-[0_0_30px_rgba(255,255,255,0.10),0_20px_60px_rgba(0,0,0,0.25)];
}

.heading-content {
  @apply
  flex flex-col
  items-center
  justify-center
  text-center
  gap-5
  px-4
  max-w-4xl
  mx-auto;
}

.resume-section {
  @apply flex flex-wrap 
  max-lg:flex-col 
  gap-6 items-start
  justify-evenly 
  py-10
  px-6;
}

.resume-nav {
  @apply relative z-20 flex flex-row justify-between items-center p-4 bg-neutral-950 border-b border-white/10
}

.resume-summary {
  @apply flex flex-row items-center justify-center p-4 gap-4
}

.category {
  @apply flex flex-row gap-2 items-center bg-gray-50 rounded-2xl p-4 w-full justify-between
}

.form-div {
  @apply flex flex-col gap-2 w-full items-start mt-4;
}

.gradient-border {
  @apply bg-neutral-950 border border-white/10 p-4 rounded-2xl text-center;
}

.feedback-section {
  @apply flex flex-col gap-8 w-1/2 px-8 max-lg:w-full py-6;
}

@utility primary-gradient {
  background: linear-gradient(
    135deg,
    #FF7A5C 0%,
    #FF5948 50%,
    #F43F5E 100%
  );
}

@utility bg-gradient {
  background: linear-gradient(
    180deg,
    #0b0b0b 0%,
    #070707 50%,
    #050505 100%
  );
}

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: 'Geist Variable', sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);

}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

}

@layer base {
  * {
    @apply border-border outline-ring/50;

  }
  body {
    @apply bg-background text-foreground;

  }
  html {
    @apply font-sans;

  }

}